body * {
    margin:0;


}
body {
    margin: 0;
    /* background: red; */
    font-family: "Almendra", serif;
}

.logo { 
    height:50px;
    width:60px;
    padding-left: 15px;
    padding-top: 16px;

}
.logo img{
    height:100%;
    width:100%
}

.navbar {
    background-color: rgba(2, 12, 32, 0.938);
    height: 80px;
    width:100%;
    display:flex;
    flex-direction: row;
    position:fixed;
    top: 0;
    left:0;
    z-index: 10;
    

}
.navbar a {
    color: rgb(253, 108, 188);
    text-decoration: none;
    padding:20px;
    font-family: "Almendra", serif;
    font-size: large;
}
.nav-links {
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    align-items: center;

}

.home-section {
    height:100vh;
    width:100%;
    padding-top:  80px;
    
}
.home-section img {
    width:100%;
    height:100%;


}
.overlay {
    position:absolute;
    top:80px;
    left:0px;
    width:100%;
    height:100vh;
    background-color:  rgba(2, 12, 32, 0.938);
    opacity: 83%;
}

.banner-text {
    position:absolute;
    top:50%;
    left: 50%;
     transform : translate(-50%,-50%) ;
     color: rgb(253, 108, 188);
     text-align: center;
}

.about-section {
    height:100vh;
    
    background-color: rgba(2, 12, 32, 0.938);
    padding : 20px;
    padding-top: 100px;
    color: rgb(253, 108, 188);
}
 .aboutme {
    text-align: center;
    color: rgb(253, 108, 188);
    text-decoration: underline;
 }

 .abt{
    display: flex;
    flex-direction: row;
    padding-top: 40px;
 }
.abt-img {
 width: 30%;
 /* border: 1px solid red; */
 padding-right: 30px;
 padding-left: 30px;
}
.abt-img img {
    width: 100%;
    height: 50vh;
    border-radius: 100%;
}
.abt-para {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abt-para h3{
    line-height: 22px;
    padding-bottom: 4px;
}
.abt-para p {
    letter-spacing: 1px;
    font-size: 16px;
}
.myskills-section {
    height: 100vh;
    background-color: rgba(2, 12, 32, 0.938);
    padding: 20px; 
    padding-top: 100px;
    color: rgb(253, 108, 188);

}
.skills {
    text-align: center;
    text-decoration: underline;
}

.skill-bar { 
    width: 90%;
    background-color: white;
    
}
.container {
    display: flex;
    flex-direction: row;
    padding: 40px;
}

.container1 {
    width: 100%;
}
.container2 {
    width: 100% ;
   
    
}    

.skills-html {
    width:90%;
    background-color: rgb(253, 108, 188);
    color: white;
    text-align: end;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 7px;

}

.skills-css{
    width:70%;
    background-color: rgb(253, 108, 188);
    color: white;
    text-align: end;
    padding: 5px;
    margin-bottom: 10px;
     margin-top: 7px;

}
.skills-javascript{
    width:60%;
    background-color: rgb(253, 108, 188);
    color: white;
    text-align: end;
    padding: 5px;
   margin-bottom: 10px;
    margin-top: 7px;


}    




.skills-php{
    width:60%;
    background-color: rgb(253, 108, 188);
    color: white;
    text-align: end;
    padding: 5px;
    margin-bottom: 10px;
     margin-top: 7px;

}
.core-java{
    width:40%;
    background-color: rgb(253, 108, 188);
    color: white;
    text-align: end;
    padding: 5px;
    margin-bottom: 10px;
     margin-top: 7px;


}
.python{
    width:60%;
    background-color: rgb(253, 108, 188);
    color: white;
    text-align: end;
    padding: 5px;
    margin-bottom: 10px;
     margin-top: 7px;


}


.myproject-section {
    height: 100vh;
    
    background-color: rgba(2, 12, 32, 0.938);
    padding: 20px;
    padding-top: 80px;
    color: rgb(253, 108, 188);

}

.proj {
    text-align:center;
}

.projects {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 24px;

}
 .proj-margin{
    margin-top: 10px;
 }


 .project-1 img{
    height: 30vh;
    width: 100%;
 }

 .project-1,.project-2,.project-3 {
    position: relative;
    margin-left: 50px;
    width: 30%;
 }

 .project-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    text-align: center;
    background-color:rgba(0, 0, 0, 0.301);
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .project-overlay h3 {
    display: none;
 }
 .project-overlay:hover {
    cursor: pointer;
    color: white;
    background: rgba(0, 0, 0, 0.733);
 }
 .project-overlay:hover h3 {
    display: block;
    text-transform: capitalize;
 }


 .project-2 img{
    height: 30vh;
    width: 100%;
 }

 .project-3 img{
    height:30vh;
    width: 100%;
 }
 

.contact-section {
    height: 100vh;
    background-color:  rgba(2, 12, 32, 0.938);
    padding: 20px ;
    padding-top: 100px;
    color: rgb(253, 108, 188);
    
   
    
}

.contact {
    text-align: center;
}

.contact-heading h1 {
    text-align: center;
}

.contact-main {
    display: flex;
    margin-top: 30px;
}
.contact-details {
    width: 50%;
    font-size: 24px;
    line-height: 26px;
}
.contact-details a {
        color: rgb(253, 108, 188);
        text-decoration: none;
}
.contact-details a:hover {
    text-decoration: underline;

}
.map {
    height: 10vh;
    width: 10%;
}